.card-tab {
	
}
.card-tab__cards {
 	background: #fff;
	border-top: 2px solid #4288ce;
	overflow: hidden;
}
.card-tab__card {
	box-sizing: border-box;
	display: block;
	height: 0;
	margin: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	opacity: 0;
	padding: 0;
	position: relative;
	transition: all 0s ease 0s;
}
	.card-tab__card.active {
		height: auto;
		opacity: 1;
		padding: 1em;
		transition: opacity 0.2s ease 0s;
	}
.card-tab__tabs {
	display: flex;
	position: relative;
}
.card-tab__tab {
	background: #f2f2f2;
	border-bottom: 2px solid transparent;
	padding: .5em 1em;
}
	.card-tab__tab.active {
		background: #4288ce;
		color: #fff;
	}
	.card-tab__tab:hover {
		text-decoration: underline;
	}
	.card-tab__tab:not(.active):hover {
		color: #4288ce;
	}



.collapsed {
	overflow-y: scroll;
}
.collapsed .card-tab__tabs {
	display: none;
}
.collapsed .card-tab:not(.active) .card-tab__card {
	overflow: hidden;
	white-space: nowrap;
}
.collapsed .card-tab.active .card-tab__card {
	white-space: pre;
}
.collapsed .card-tab:not(.active) {
	height: auto;
	padding: 0;
}
.collapsed .card-tab:first-child {
	padding-top: 4em;
}
.collapsed .card-tab.active .card-tab__tabs {
	display: flex;
}
