:root {
	/**
	 *
	 * Prefixos:
	 *   c = color
	 *   i = size
	 * Sufixos:
	 *   t = text
	 *   b = background
	 *   f = focus
	 *   s = selected
	 *   h = hover
	 *   p - pseudo/placeholder
	 *   w - shadow
	 *   l - lighter
	 */
	--c-warning-b: #ffe8cb;
	--c-warning-t: #666;
	--c-error-b: transparent;
	--c-error-c: #c95c5c;
	--c-error-i: .9em;
	--c-error-t: #fff;
	--c-main: #3483fa;
	--c-main-l: #9ec5fe;
	--c-main-lb: #eaf2ff;
	--c-main-contrast: #fff;
	--c-main-b: #ffdbdb;
	--c-main-alert: #fd7e00;
	--c-main-alert-t: #fff;
	--c-overlay: rgba(7, 0, 109, 0.2);
	--c-asides-b: #f5f5f5;
	--c-asides-t: #777;
	--c-input-placeholder: #ccc;
	--c-body-b: #eee;
	--c-body-t: #777;
	--c-body-ts: #333;
	--c-body-th: var(--c-main);
	--c-link: var(--c-main);
	--c-3d-objects-b: var(--c-main-contrast);
	--c-3d-objects-t: #666;
	--c-3d-objects-th: var(--c-main);
	--c-toolbar-b: var(--c-main);
	--c-toolbar-t: var(--c-main-contrast);
	--c-toolbar-adjacent-b: #fff;
	--c-toolbar-adjacent-t: #777;
	--c-toolbar-input-b: rgba(255, 255, 255, .25);
	--c-toolbar-input-bf: rgba(255, 255, 255, .55);
	--c-toolbar-input-t: #fff;
	--c-toolbar-input-p: rgba(255, 255, 255, .60);
	--c-toolbar-mini-button-b: #eee;
	--c-toolbar-mini-button-t: #777;
	--c-toolbar-mini-button-th: var(--c-main);
	--c-toolbar-inner-panel-b: #f2f2f2;
	--c-toolbar-inner-panel-border: #ddd;
	--c-component-b: #fff;
	--c-component-t: #777;
	--c-component-border: #777;
	--c-component-w: 0 1px 3px #ccc;
	--c-component-title-t: #555;
	--c-input-border: #ccc;
	--c-input-borderf: var(--c-main);
	--c-button: var(--c-main);
	--c-button-t: var(--c-main-contrast);
	--c-button-red-b: #EF8181;
	--c-button-red-t: var(--c-main-contrast);
	--c-button-gray-b: #ddd;
	--c-button-gray-t: #aaa;
	
}
