/*********************************************************************************************************************/
/*                                                                                                                   */
/*                                            B E M  -  desktop version                                              */
/*                                                                                                                   */
/*********************************************************************************************************************/
.dialog {
	background: #fff;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 400px;
	opacity: 0;
	overflow: hidden;
	padding: 1.5em;
	position: relative;
	top: 30%;
	transform: scale(1.3);
	transition: all 0.4s cubic-bezier(0.5, 1.8, 0.4, 1) 0s,
				opacity 0.4s ease 0s,
				top 0.01s ease 0s;
	z-index: 2;
}
	.show > .dialog {
		opacity: 1;
		transform: scale(1);
	}
.dialog__button--cancel, .dialog__button--confirm, .dialog__button--ok {
	display: none;
}
	.dialog.default .dialog__button--ok,
	.dialog.info .dialog__button--ok,
	.dialog.alert .dialog__button--ok,
	.dialog.error .dialog__button--ok,
	.dialog.success .dialog__button--ok {
		display: block;
	}
	.dialog.confirm .dialog__button--cancel, .dialog.confirm .dialog__button--confirm {
		box-sizing: border-box;
		display: block;
		float: left;
		margin-left: .25em;
		margin-right: .25em;
		min-height: 1px;
		padding: 1em 0;
		position: relative;
		text-align: center;
	}
.dialog__button--confirm {
	width: calc(66.6667% - .5em);
}
.dialog__button--cancel, .dialog.confirm {
	background: #ddd;
	color: #646464;
	width: calc(33.3333% - .5em);
}
	.dialog.loading::after {
		background: url(/assets/imgs/spinner-small.gif) center no-repeat;
		content: '';
		height: 3em;
		left: calc(50% - 1.5em);
		position: absolute;
		text-align: center;
		width: 3em;
	}
	.dialog ul {
		list-style: disc;
		margin: .5em;
		padding: .5em 1em;
	}
		.dialog ul > li {
			list-style: disc;
		}
.dialog__container {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.dialog__message {
	color: #666;
	line-height: 1.4em;
	margin-bottom: 1.5em;
	overflow: auto;
}
	.error .dialog__message {
		color: #fb7474;
	}
.dialog__footer {
	
}
.dialog__overlay {
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.2s ease 0s;
	width: 100%;
	z-index: 1;
	-webkit-tap-highlight-color: transparent;
}
	.dialog__overlay.white {
		background: rgba(255, 255, 255, 0.95);
	}
	.dialog__overlay.visible {
		display: block;
		opacity: 1;
	}
		.dialog__overlay.success {
			opacity: 1;
		}
	.show > .dialog__overlay {
		opacity: 1;
		transition: opacity 0.2s ease 0s;
	}
.dialog__title {
	color: #fd7e00;
	font-size: 1.25em;
	margin-bottom: 1em;
}
@media (max-width:700px) {
	.dialog {
		max-width: 90%;
	}
}