.form__text {
	align-items: baseline;
	display: flex;
	flex-flow: row wrap;
}
	.form__text:not(:last-child) {
		margin-bottom: 2em;
	}
.form__text input, .form__text textarea {
	border: 2px solid var(--c-input-border);
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	color: var(--c-component-t);
	display: block;
	font-size: 1em;
	height: 3em;
	max-width: 100%;
	outline: none;
	padding: 0 1em;
	width: 100%;
}
	.form__text span + input, .form__text span + textarea {
		flex: 0 0 calc(100% - 12em);
	}
.form__text textarea {
	height: 10em;
	padding: .5em 1em;
}
.form__text span:first-child {
	box-sizing: border-box;
	padding: 0 1em;
	width: 12em;
}
