html {
	height: 100%;
}
body {
	background: #e2e2e2;
	color: #464646;
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5em;
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
}
a > img {
	display: block;
	line-height: 1em;
}
.block {
	box-sizing: border-box;
	display: block;
	margin: 0 auto 2em;
	max-width: 800px;
	width: 100%;
}
.border--pad {
	border: 1px solid #ccc;
	padding: 1em;
}
.button {
	background: #4288ce;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 2em;
	padding: .5em 2em;
	position: relative;
}
	.button + .button {
		margin-left: 1em;
	}
	.button.red {
		background: #ed4240;
	}
	.button:hover {
		text-decoration: underline;
	}
button {
	cursor: pointer;
}
button > img {
	display: block;
}
.button--reset {
	background: transparent;
	border: none;
	outline: none;
}
/*customization*/
.card-tab__cards {
	height: calc(100% - 44px);
}
.card-tab__card {
	height: 100%;
}
	body .card-tab__card.active {
		height: 100%;
	}
.display--block {
	display: block;
}
div, table, input {
	font-family: Arial;
	font-size: 1em;
}
#eLogs {
	padding: 0 2em;
}
.grids {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
}
	.grids > * {
	    flex: 1 0 8.333%;
	}
h1 {
	box-sizing: border-box;
	font-size: 1em;
	margin: 2em auto;
	max-width: 800px;
}
	h1 > span {
		display: block;
		font-size: 1.4em;
		line-height: 1.4em;
	}
.log__response {
	white-space: break-spaces;
}
.log-row {
	box-sizing: border-box;
	height: 100vh;
	padding: 4em 0 2em;
}
main {
	
}
.height--2 {
	height: 2em;
}
.justify-content--space-between {
	display: flex;
	justify-content: space-between;
}
pre {
	font-size: .8em;
	line-height: 1.5em;
}
.preview {
	
}
.transition--remove {
	opacity: 1;
	max-height: 800px;
}
.transition--remove.remove {
	margin-bottom: 0;
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding-bottom: 0;
	padding-top: 0;
	transition: all 0.5s ease 0s;
}
.section {
	background: #fff;
	box-sizing: border-box;
	box-shadow: 0 1px 1px #ccc;
	margin: 0 auto 2em;
	max-width: 800px;
	padding: 2em;
	width: 100%;
}
.text-align--right {
	text-align: right;
}
.time-info {
	align-items: center;
	display: flex;
	font-size: small;
	color: #343434;
	height: 100%;
	letter-spacing: 1px;
	position: absolute;
	right: 0;
	top: 0;
}
.toolbar {
	background: #fff;
	box-shadow: 0 1px 1px #ccc;
	box-sizing: border-box;
	display: flex;
	height: 3em;
	justify-content: space-between;
	left: 0;
	padding: .5em 1em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 1;
}
	.toolbar a {
		display: inline-block;
	}
	.toolbar a.inactive {
		filter: contrast(0);
	}
.toolbar__groups {
	align-items: center;
	display: flex;
	justify-content: space-around;
}
	.toolbar__groups > * {
		margin: 0 1em;
	}
.toolbar-vspace {
	height: 3em;
}
table {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: smaller;
	width: 100%;
}
	table td, table th {
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		padding: 0 1em;
	}
	table td:first-child {
		width: 10em;
	}
[data-mime-type="application/json"] {
	
}
	[data-mime-type="application/json"] .boolean {
		color: blue;
	}
	[data-mime-type="application/json"] .key {
		color: red;
	}
	[data-mime-type="application/json"] .null {
		color: magenta;
	}
	[data-mime-type="application/json"] .number {
		color: darkorange;
	}
	[data-mime-type="application/json"] .string {
		color: green;
	}
.wrapper {
	padding: 0 2em;
}
