/*********************************************************************************************************************/
/*                                                                                                                   */
/*                                            B E M  -  desktop version                                              */
/*                                                                                                                   */
/*********************************************************************************************************************/
.notification {
	background: #fff;
	border-left: 4px solid var(--c-main);
	box-shadow: 0 1px 3px #ccc;
	box-sizing: border-box;
	color: var(--c-body-t);
	margin: 1em 2em;
	opacity: 0;
	overflow: hidden;
	padding: 1em;
	position: relative;
	transform: translateY(-30%);
	transition: all 0.4s cubic-bezier(0.5, 1.8, 0.4, 1) 0s,
				opacity 0.4s ease 0s,
				transform 0.2s ease 0s;
	z-index: 2;
}
	.notification.show {
		opacity: 1;
		transform: translateY(0);
	}
	.notification.close {
		opacity: 0;
		transform: translateY(-30%);
		transition: opacity 0.6s ease 0s, transform 0.3s ease 0s;
	}
.notification__close {
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 20px;
}
	.notification__close:hover {
		color: red;
	}
.notification__container {
	max-width: 400px;
	right: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.notification__message {
	color: #666;
	line-height: 1.4em;
	overflow: auto;
}
	.error .notification__message {
		color: var(--c-error-c);
	}
.notification__title {
	color: var(--c-main);
	font-size: 1em;
	margin: 0;
	position: relative;
}

@media (max-width: 700px) {
	.notification {
		max-width: 300px;
	}
}
@media (max-width: 500px) {
	.notification {
		height: auto;
		max-width: 100%;
		position: absolute;
		top: 0;
	}
}
